# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
build.gradle
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
Release.bat
RunClient.bat
gradlew.bat
Install.bat
Release.bat
RunClient.bat
Setup1.bat
Setup2.bat
